* {
	margin: 0;
	padding: 0;
}

body {
	font: 14px/1.5 Helvetica, Arial, sans-serif;
}

a {
	background-color: #25fcd1;
	color: #333;
	text-decoration: none;
	padding: 2px 5px 2px 5px;
}

a:hover{
	background-color: #a7f442;
}

a:visited{
	color: #333;
}

b {
	background-color: #f28b79;
	color: #111;
	text-decoration: none;
	font-weight: normal;
	padding: 2px 5px 2px 5px;
}

.container {
	margin: 40px auto;
	width: 960px;
}

.title {
	color: white;
	font-size: 200px;
	font-weight: bold;
	line-height: 50%;
	padding-top: 30%;
	padding-left: 5%;
	padding-right: 5%;
	margin: auto;
}

.row {
	border-bottom: 1px solid #ccc;
	margin-bottom: 40px;
	padding-bottom: 40px;
	position: relative;
}

.row:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.content {
	float: right;
	min-width: 300px;
	width: 600px;
}

.aside {
	/*background: #cecece;*/
	float: left;
	/*padding: 20px;*/
	padding: 0px 0px;
	width: 330px;
}

h1 {

}

h2 {
	font-size: 20px;
}

h3 {

}

p {
	margin-bottom: 1.5em;
}

.stickit {
	margin-left: 0px;
	position: fixed;
	margin: 40px auto;
	top: 0;
}

.stickit-end {
	bottom: 40px;
	position: absolute;
	left: 0;
}

.parallax-window {
    min-height: 600px;
    background: transparent;
}

.large{
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 200%;
}

.img-circle {
    border-radius: 50%;
		margin: auto;
		display: block;
		width: 30%;
		padding: 10px;
}

.about-text {

}

#left-col {
	width: 33%;
	float: left;
}

#big-col {
	width:66%;
	float: right;
}

#middle-col {
	width: 50%;
	float: left;
}

#right-col {
	width: 50%;
	float: right;
}
