* {
	margin: 0;
	padding: 0;
}

body {
	font: 14px/1.5 Helvetica, Arial, sans-serif;
}

.container {
	margin: 40px auto;
	width: 960px;
}

.row {
	border-bottom: 1px solid #ccc;
	margin-bottom: 40px;
	padding-bottom: 40px;
	position: relative;
}

.row:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.content {
	float: right;
	width: 540px;
}

.aside {
	/*background: #cecece;*/
	float: left;
	/*padding: 20px;*/
	padding: 0px 0px;
	width: 370px;
}


h2 {
	font-size: 20px;
}

p {
	margin-bottom: 1.5em;
}

.stickit {
	margin-left: 0px;
	position: fixed;
	top: 0;
}

.stickit-end {
	bottom: 40px;
	position: absolute;
	left: 0;
}
